Flask==1.1.2
Werkzeug==0.16.1
matplotlib==3.4.1
Flask_MySQLdb==0.2.0
nltk==3.6.2
pandas==1.2.3
python_docx==0.8.11
Flask_Bootstrap==3.3.7.1
docx==0.2.4
PyYAML==6.0
scikit_learn==1.0.2
gunicorn==20.1.0
